[user]
name = {{ .github_username | quote }}
email = {{ .github_email | quote }}

[ui]
pager = "less -FRX"
default-command = "log"

[aliases]
# ステータス確認
st = ["status"]
am = ["squash"]
la = ["log", "-r", "all()"]
