{
  "env": {
    "DISABLE_ZOXIDE": "1"
  },
  "permissions": {
    "defaultMode": "{{ if hasKey . "claude_default_mode" }}{{ .claude_default_mode }}{{ else }}acceptEdits{{ end }}"
  },
  "enabledPlugins": {
    "github@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true,
    "frontend-design@claude-plugins-official": true,
  },
  "language": "日本語"
}
